.container {
  inline-size: 530px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #42567a;
  position: relative;
  margin: -100px auto;
  transition: transform 0.5s ease;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.wrapper {
  position: absolute;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);
}
