.container {
  inline-size: 530px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #42567a;
  position: relative;
  margin: -100px auto;
  transition: transform 0.5s ease;
  @media screen and (max-width: 768px) {
    &_mobile {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin-block-start: -37.76px;
    }
  }
}

.wrapper {
  position: absolute;
  transition: transform 0.3s ease;
  transform: translate(-50%, -50%);
}
